*
!/.gitignore

!readme.md

!/install.sh

!/sc
!/sc/*

!/embed
!/embed/*

!/embed/sapling
!/embed/sapling/funcs
!/embed/sapling/funcs/*
!/embed/sapling/layout
!/embed/sapling/layout/*
!/embed/sapling/templates
!/embed/sapling/templates/.gitkeep